/* work sans font */

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700;800&family=Work+Sans:wght@400;500;600;700;800&display=swap');

/* shared style */
.btn-primary{
    border-radius: 8px;
    background: #FF900E;
    border:none;
    padding:15px 25px;
    color:white;
    font-size: 1.1rem;
    cursor: pointer;
}
.text-gray{
    color:#727272;
}
*{
  font-family: 'Open Sans', sans-serif;
font-family: 'Work Sans', sans-serif;
}

/* header style */
header{
    background: rgba(255,144,14,0.10);
    padding:50px 100px;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-title{
    font-size: 2rem;
    color:#131313;
}
nav>ul {
    display: flex;
}

nav li{
    list-style: none;
    margin-left: 30px;
    font-weight: 500;
    font-size: 1rem;

}

nav li a{
    text-decoration: none;
    color:#424242  ;
}

/* banner style */
.banner-content{
    max-width:600px;
    text-align: center;
    margin:0 auto;
}
.banner-title{
    font-size: 2.7rem;
    font-weight: 700;
    color:#131313;
}

.banner img{
    /* width:calc(100vw - 200px); */
    width:100%;
    margin-top: 20px;
}

/* main styles */
main{
    max-width: 1440px;
    margin: 40px auto;
}

.teams-container{
    display: flex;
    align-items: center;
    width: 900px;
    margin:auto;
}

.teams-img-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap:1.5rem;
  
}
.teams-img-container img{
    width: 200px;
}
.teams-content{
    padding-left: 50px;
    /* padding-right: 20px; */

}
.teams-title{
    font-size: 1.8rem;
}
.teams-title .quik-list{
    color:#727272;
    font-weight:500;
}
.teams-title .features{
    color:#FF900E;
    font-weight: 700;
}

/* features style */

.features-container{
    display: flex;
    gap: 15%;
    width:auto;
    margin: 100px;

}
.upper-features h2{
    border-left: 4px solid #FF900E ;
    padding-left: 20px;
}
.upper-features p{
   font-size: 0.8rem;;
}
.left-features{
    width:50%;
}

.box{
    width:100%;
    padding: 2px 20px;
    margin-bottom: 30px;
    margin-top: 6px;
    box-shadow: 2px 2px 15px rgb(218, 217, 217);
    border-radius: 6px;
}
.box p{
    margin-top: -10px;
    font-size: 0.8rem;
}
.features-container img{
    width:100%;
}

.last-btn{
   
    height: auto;
    color:white;
    background-color: #FF900E;
    border: none;
    border-radius: 5px;
    padding: 1vw 2.5vw;
    font-size: 2.5rem;
    font-weight: 700;
    margin: -70px;
    /* margin-left: -50px; */
}
.exp{
    font-size: 1rem;
  
}
.facts-content{
   
    margin: 100px 0px 0px 100px;
}
.facts-description{
    width: 500px;
}

.cards{
    margin:50px 140px;
    display: flex;
    justify-content: space-between;
}
.card img{
    width: 20px;
}
.card{
    width: 130px;
    height: 100px;
    border:1px solid tomato;
    border-radius: 5px;
    text-align: center;
    padding:20px 5px;
}
.card p{
    font-size: 0.8rem;
}
.sponsor-texts{
    text-align: center;
    width: 500px;
    margin:auto;
    margin-top: 100px;
    margin-bottom: 40px;
}
.sponsor-imgs{
    display: flex;
    justify-content: space-evenly;
}
.sponsor-imgs img{
    width: 100px;
    
}
/* footer style */
footer{
  
    background: rgba(255,144,14,0.10);
    width: 80%;
    margin: auto;
    text-align: center;
    padding: 30px 0px;
    margin-bottom: 40px;
}


/* media query */
/* for mobile device */
@media screen and (max-width:576px) {
    header{
  
        padding:50px 20px;
    }
    nav,.teams-container{
        flex-direction: column;
    }
    .teams-container{
        width: 400px;
    }
    .teams-img-container{
        grid-template-columns: 1fr;
    }
    .teams-content{
        width:300px;
        padding:0px;
        text-align: center;
    }
    .teams-img-container img{
        width:auto;
    }
    .features-container{
        flex-direction: column;
        margin: 30px;
    }
    .left-features{
        width:100%;
    }
    .box{
        width:90%;
    }
    .features-img{
        width:80%;
        margin:auto;
        padding-left: 30px;
    }
    .facts-content{
        width: 200px;
        /* margin: 50px 0px 0px 40px; */
        text-align: center;
         
    }
    .facts-description{
        width: 300px;
    }
    .cards{
      flex-direction: column;
      margin: 40px 40px;
      gap: 20px;
      align-items: center;
    }
    .sponsor-texts{
        width: 300px;
        
    }
    .sponsor-imgs{
        flex-direction: column;
        align-items: center;
    }
    .sponsor-imgs img{
        height:30px;
        width: 130px;
        margin-bottom: 30px;
    }
    footer p{
        width:50%;
        margin: auto;
    }

}

/* for tablet or medium devices */
@media screen and (min-width:577px) and (max-width:992px) {

    header{
       padding:50px 50px;
    }
         nav{
            flex-direction: column;
         } 

         .teams-container{
            flex-direction: column;
            width:auto;
            padding:0px 0px;
         }   
         
         .teams-content{
            width: auto;
         }
         
         .teams-img-container{
            margin:0px auto;
         }
         .teams-img-container img{
            width:250px;
         }
         .features-container{
            flex-direction: column;
            margin: 30px;
        }
        .left-features{
            width:90%;
        }
        .features-img{
            width:80%;
            margin:auto;
            padding-left: 30px;
        }
      
         .cards{
            display: grid;
            grid-template-columns: repeat(2,1fr);
            gap: 20px;
         }
         .facts-description{
            width: 400px;
        }
        .sponsor-imgs img{
            height:24px;
            width: 70px;
        }
        footer p{
            width:50%;
            margin: auto;
        }
}